<div id="home-component">
  <div class=content>
    <img class="elipsePikachu" src="../../assets/images/elipsePikachu.png" alt="No disponible">
    <div class="pikachu">
      <img src="../../assets/images/pikachu.png" alt="No disponible">

    </div>

    <h1 id="title"> Welcome to Pokédex</h1>
    <p>The digital encyclopedia created by Professor Oak is an invaluable tool to Trainers in the Pokémon world.</p>
    <div class="text-center">
      <button class="btn-started" @click="redirectToList()">
        Get Started
      </button>
    </div>
  </div>

</div>