#home-component {
    position: relative;
    background: #f9f9f9;
  }
  
  .content {
    width: 570px !important;
  }
  .title {
    
    position: absolute;
  
    height: 31px;
    left: 291px;
    top: 418px;
  
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: flex;
    align-items: center !important;
    text-align: center !important;
  
    color: #353535;
  }
  .subHeader {
    width: 570px !important;
    position: absolute;
    height: 54px;
    left: 291px;
    top: 479px;
  
    font-family: Lato;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
  
    text-align: center;
  
    color: #5e5e5e;
  }
  .btn-started {
    
    /* Get started */
    position: absolute;
    width: 131px;
    height: 44px;
    left: 511px;
    top: 583px;

    padding: 11px 0px 0px 20px;

font-family: Lato;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center !important;

color: #FFFFFF;
    /* Btn/Normal */
  
    /* Auto Layout */
  
    
   
  
    background: #f22539 !important;
    border-radius: 60px !important;
  
  
  }
  
  .pikachu {
    position: absolute;
    width: 325px;
    height: 288px;
    left: 414px;
    top: 70px;
  }
  
  .elipsePikachu {
    /* Ellipse 10 */
    position: absolute;
    width: 206px;
    height: 206px;
    left: 463px;
    top: 139px;
  
    /* background: #F22539;
  border: 2px solid #000000; */
  }