<div id="home-component">
  
  <!--  Imagen de pikachu -->
  <img class="pikachu" src="../../assets/images/PikachuAll.png"></img>

  <!-- Titulo -->
  <p class="title">Welcome to Pokédex</p>

  <!-- Subtitulo -->
  <p class="subHeader">The digital encyclopedia created by Professor Oak is an invaluable tool to Trainers in the
    Pokémon world.</p>

  <!--Button para acceder a lista de pokemon-->
  <div>

    <button class="btn-started" @click="redirectToList()">
      Get Started
    </button>
  </div>


</div>