#home-component {
  position: relative;
  background: #E5E5E5;
  ;
  margin: 0px auto;
  align-items: center !important;
  text-align: center !important;
}

.content {
  width: 570px !important;
}

.title {
  position: inherit;
  height: 31px !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 26px !important;
  line-height: 31px !important;
  text-align: center !important;
  color: #353535;
}

.subHeader {
  width: 570px !important;
  position: inherit !important;
  display: inline-flex !important;
  height: 54px !important;
  margin-top: 30px !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 150% !important;
  /* or 27px */
  text-align: center !important;
  color: #5e5e5e !important;
}

.btn-started {
  /* Get started */
  position: relative;
  width: 131px;
  height: 44px;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  display: inline-flexbox;
  color: #FFFFFF;
  background: #f22539 !important;
  border-radius: 60px !important;
  margin-top: 51px !important;
}

.btn-started:hover{
  background: #C00E20 !important;
}


.pikachu {
  position: relative;
  width: 250px;
  height: 250px;
 
}

.elipsePikachu {
  /* Ellipse 10 */
  position: absolute;
  width: 206px;
  height: 206px;
  left: 463px;
  top: 139px;
}

@media only screen and (max-width: 768px) {
  .subHeader {
    width: auto !important;
  }
}