
<v-dialog v-model="dialog" max-width="570" max-height="506" persistent>
    <v-card v-if="pokemon">

        <v-card-title style="padding: 0 0 0 0; position: relative;">

            <img class="backPokemon" src="../../assets/images/backPoke.png" alt="No disponible">

            <img class="pokemon" :src="pokemon.sprites.other['official-artwork'].front_default" alt="" srcset="">

        </v-card-title>
        <v-card-text style="height: 201px;">
            <v-container>
                <div>
           <p> <b> Name: </b>{{pokemon.name | upperFirst}}</p>
           <p> <b>Weight: </b>{{pokemon.weight}}</p>
           <p>  <b>Height: </b>{{pokemon.height}}</p>
           <p>  <b>Types: </b>{{pokemon.types|types}}</p>
        </div>
        </v-container>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <button class="btn-share" @click="closeDialog()">
                Share to my friends
              </button>
        

            <v-icon class="favorite" v-if="!active" color="#BFBFBF"> mdi-star-outline </v-icon>

            <v-icon class="favorite" v-else color="#ECA539"> mdi-star </v-icon>
        </v-card-actions>
    </v-card>
</v-dialog>
