.pokemon {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 195px;
}

/* Fondo pokemon */

.backPokemon {
  width: 570px;
  height: 220px;
}

/* Atributos del pokemon */

.attribute {
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 150% !important;
  color: #5e5e5e !important;
}

.v-dialog__content {
  background: rgba(0, 0, 0, 0.6);
}

/* Boton copiar pokemon en portapapales */

.btn-share {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  padding: 11px 0px 0px 20px !important;
  position: absolute !important;
  width: 195px !important;
  height: 44px !important;
  background: #f22539 !important;
  color: #ffffff !important;
  border-radius: 60px !important;
  font-family: Lato !important;
  font-style: normal !important;
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 22px !important;
}

.btn-share:hover {
  background: #C00E20 !important;
}

/* Contenedor del boton favorito */

.v-card__actions {
  padding: 0px 30px 20px 20px !important;
}

/* Negrita */

b {
  font-weight: 700 !important;
}

/* Boton cerrar modal */

.btn-close {
  position: absolute !important;
  top: 0px !important;
  margin: 10px !important;
}

.btn-close:hover {
  cursor: pointer;
}